@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="text-center">

    <h1>My Form</h1>
    <form action="postForm" method="post">
        <formgroup>
            <label for="Name">Name</label>
            <input asp-for="Name">
        </formgroup>
        <formgroup>
            <label for="Color">Color</label>
            <input asp-for="Color">
        </formgroup>
        <formgroup>
            <label for="Number">Number</label>
            <input asp-for="Number">
        </formgroup>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
